.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.card-theme {
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 8px rgb(79, 76, 76);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card-theme .card-body {
  padding: 1.25rem;
  background-color: rgba(17, 17, 17, 0.8);
  color: white;
}

.card-theme .poster-section img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: auto;
}

.card-theme .card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.card-theme .btn-primary {
  background-color: #e50914;
  border-color: #e50914;
}

.card-theme .btn-primary:hover {
  background-color: #b2070e;
  border-color: #b2070e;
}

body {
  background-color: #111;
  color: #fff;
}

.glass-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
